<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>神奇的游戏</title>
  <link href="game.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="game.js"></script>
  <script type="text/javascript" src="gameContent.js"></script>
</head>

<body>
<div id="mainF" class="main"></div>
<div id="msg" class="Word">Loading...</div>
<div id="mainB" class="main"></div>
<div id="cam">
  <div style="position: absolute; z-index:-10000;">
    <div id="example" style="width: 470px; height: 300px;"><div class="photobooth" style="width: 470px; height: 300px;"><div class="blind anim" style="opacity: 0; display:none;"></div><canvas width="470" height="300"></canvas><div class="warning notSupported">Sorry, Photobooth.js is not supported by your browser</div><div class="warning noWebcam" style="display: none;">Please give Photobooth permission to use your Webcam. <span>Try again</span></div><ul><li title="hue" class="hue"><div class="submenu"><div class="tip"></div><div class="slider"><div class="track"></div><div class="handle" style="left:50px"><div></div></div></div></div></li><li title="saturation" class="saturation"><div class="submenu"><div class="tip"></div><div class="slider"><div class="track"></div><div class="handle" style="left:50px"><div></div></div></div></div></li><li title="brightness" class="brightness"><div class="submenu"><div class="tip"></div><div class="slider"><div class="track"></div><div class="handle" style="left:50px"><div></div></div></div></div></li><li title="crop" class="crop"></li><li title="take picture" class="trigger"></li></ul><div class="resizehandle"><div class="handle"><div></div></div></div></div></div>
    <div style="width: 470px; height: 30px;">
      <form>
        <input type="button" onclick="" value="Slowly Press Me Two Times ">
      </form>
    </div>
    <div id="game_div" style="overflow: hidden;"> <canvas width="400" height="490" style="display: block; touch-action: none; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas></div>
  </div>

  <pre id="response" style="position: absolute; z-index:10000; display: none;">Loading...</pre>
</div>

<script type="text/javascript" src="./Express_files/av-mini-0.5.4.js"></script>
<script type="text/javascript" src="./Express_files/facepp-sdk.min.js"></script>
<script type="text/javascript" src="./Express_files/photobooth_min.js"></script>
<script type="text/javascript" src="./Express_files/base64.js"></script>
<script type="text/javascript" src="./Express_files/phaser.min.js"></script>

<script type="text/javascript">
  var idList = ['scqesdkqs6rthy8ya6picjna3kudcmwx56cmd25fooq60eh1','gtpszxv1p6jtmtgvusivsrbly7t6n1z4olei0di06oa7hw23','9pn39g6jh4sc8coch40por2dq56qez3daqstpupkua836uaq','4f0wukgkgxc9tzzmeu2x9rgfs15vj9yrxn2a6r56ip98loav']
  var keyList=['47s11qngp5tcojjdjjwptmdy2779yqr34j4xsiq21l77uvn8','nirytzp8o86iy668prva748jv5ju8879bw86emmnplhae8on','iw8jh5b7yopf01xh4cppecyaad097hui4b3t84i1keft1c1a','wop31bgoe1vtwsl6s6zdpmt56ia4iypez9u2esckunwyapni']

  container = document.getElementById( "example" );
  myPhotobooth = new Photobooth(container);
  period =3
  i=1

  function si() {
    if (i > period){
      i=1
    }
    AV.initialize(idList[i],keyList[i])


    $('.trigger').click();
    myPhotobooth.onImage = function (dataUrl) {
      var dataString = dataUrl.split(",")[1];
      var extension = dataUrl.match(/\/(.*)\;/)[1];


      var avFile = new AV.File("image." + extension, { base64: dataString });
      avFile.save().then(function () {
        imgUrl = avFile.url();
        console.log(imgUrl);

        var api = new FacePP('03185d23e0c06c266049f9c6c024dd6a', 'tkDEWxFl7jl9v0ky6g3m2OtGn5KFG0Az');
        api.request('detection/detect', {
          url: imgUrl
        }, function (err, result) {
          if (err) {
            // TODO handle error
          }
          // TODO use result
          document.getElementById('response').innerHTML = JSON.stringify(result);
          window.FaceData = result;

        });
      });
    }
    setTimeout(si, 1000);

  }

  si()
</script>
</body>
</html>
